//general variables
//color 
$background: #eaeaea;
$primary: #41828f; //blue
$secondary: #5d4023; //brown
$dark: #2a5159; //dark blue

$warmgray: #bbc1c2;

$lightgray: mix(white, $warmgray, 40%);